[worldserver]

########################################
# mod-multiclass configuration
########################################
#
#    Multiclass.Enable
#        Description: Master switch for the multiclass module.
#        Default:     0 - disabled
#
Multiclass.Enable = 0
